### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_player = purchase_data["SN"].nunique()
total_player

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data["Item Name"].nunique()
unique_items

average_price = purchase_data["Price"].mean()
average_price

number_phurchase = purchase_data["Purchase ID"].count()
number_phurchase

total_revenue = purchase_data["Price"].sum()
total_revenue

summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Number of Purchases": [number_phurchase],
                              "Total Revenue": [total_revenue]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_count = purchase_data["Gender"].value_counts()
gender_count

gender_percentage = (gender_count/total_player)*100
gender_percentage

gender_table = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": gender_percentage})
gender_table

                       Total Count  Percentage of Players
Male                           652             113.194444
Female                         113              19.618056
Other / Non-Disclosed           15               2.604167


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase_count = purchase_data.groupby(['Gender']).count()["Purchase ID"].rename("count")
gender_purchase_count

gender_avg_price = purchase_data.groupby(['Gender']).mean()["Price"].rename("average")
gender_avg_price

gender_total_purchase = purchase_data.groupby(['Gender']).sum()["Price"].rename("sum")
gender_total_purchase

avg_purchase_per_person = gender_total_purchase/gender_purchase_count
avg_purchase_per_person

purchasing_analysis = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                    "Avg Purchase Price": gender_avg_price,
                                    "Total Purchase Value": gender_total_purchase,
                                    "Avg Purchase Total Per Person": avg_purchase_per_person})
purchasing_analysis

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data

total_per_age_group = purchase_data.groupby(['Age Group']).count()["SN"].rename("count")
total_per_age_group

age_group_percentages= (total_per_age_group/total_player)*100
age_group_percentages

age_demographics = pd.DataFrame({"Percentage of Players": age_group_percentages,
                                    "Total Count": total_per_age_group})
age_demographics

           Percentage of Players  Total Count
Age Group
<10                     3.993056           23
10-14                   4.861111           28
15-19                  23.611111          136
20-24                  63.368056          365
25-29                  17.534722          101
30-34                  12.673611           73
35-39                   7.118056           41
40+                     2.256944           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
#group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
#purchase_data

total_per_age_group = purchase_data.groupby(['Age Group']).count()["Purchase ID"].rename("count")
total_per_age_group

average_purchase_price = purchase_data.groupby(['Age Group']).mean()["Price"].rename("mean")
average_purchase_price

total_purchase_value = purchase_data.groupby(['Age Group']).sum()["Price"].rename("sum")
total_purchase_value

avg_purchase_total_per_person = total_purchase_value/total_per_age_group
avg_purchase_total_per_person

purchasing_analysis_table = pd.DataFrame({"Purchase Count": total_per_age_group,
                                          "Avg Purchase Price": average_purchase_price,
                                          "Total Purchase Value": total_purchase_value,
                                         "Avg Purchase Total Per Person": avg_purchase_total_per_person})
purchasing_analysis_table

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Age Group,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
purchase_count = purchase_data.groupby(['SN']).count()["Purchase ID"].rename("count")
purchase_count

average_purchase_price = purchase_data.groupby(['SN']).mean()["Price"].rename("mean")
average_purchase_price

total_purchase_value = purchase_data.groupby(['SN']).sum()["Price"].rename("sum")
total_purchase_value

top_spenders_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": average_purchase_price,
                              "Total Purchase Value": total_purchase_value})

sort_table = top_spenders_table.sort_values('Purchase Count', ascending=[False])

sort_table.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
Most_popular = purchase_data [["Item ID", "Item Name", "Price"]]
Most_popular.head()

Most_popular_group = Most_popular.groupby(['Item ID','Item Name'])
Most_popular_group.head()

purchase_count = Most_popular.groupby(['Item ID','Item Name']).count()["Price"].rename("count")
purchase_count.head()

item_price = Most_popular.groupby(['Item ID','Item Name']).mean()["Price"].rename("average")
item_price.head()

total_purchase_value = Most_popular.groupby(['Item ID','Item Name']).sum()["Price"].rename("sum")
total_purchase_value

Most_popular_table = pd.DataFrame({"Purchase Count": purchase_count,
                              "Item Prices": item_price,
                              "Total Purchase Value": total_purchase_value})
Most_popular_table

sort_table = Most_popular_table.sort_values('Purchase Count', ascending=[False])

sort_table.head()

,,Purchase Count,Item Prices,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
sort_table = Most_popular_table.sort_values('Total Purchase Value', ascending=[False])

sort_table.head()

,,Purchase Count,Item Prices,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80